body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template: 1fr 4fr / 1fr 3fr;
    min-height: 100vh;
}

.sidebar {
    background-color: #5eead4;
    grid-area: 1 / 1 / -1 / span 1;
}

.header {
    background-color: #f0fdfa;
}

.main-content {
    background-color: #ccfbf1;
}