:root{
    --color-primary: #5eead4;
    --color-secondary: #f0fdfa;
    --color-tertiary: #ccfbf1;
    --color-font-primary: white;
    --color-font-shadow: rgb(0 0 0 / 20%);
    --font-tiny: 0.9rem;
    --font-small: 1rem;
    --font-medium: 1.25rem;
    --font-large: 1.5rem;
    font-size: var(--font-small);
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template: 1fr 4fr / 1fr 3fr;
    min-height: 100vh;
}

.sidebar {
    background-color: var(--color-primary);
    grid-area: 1 / 1 / -1 / span 1;
    display: grid;
    grid-template-rows: repeat(12, 50px);
    color: var(--color-font-primary);
    font-size: var(--font-medium);
    padding: 0px 50px;
}

.logo {
    grid-row: 1 / span 2;
    font-size: var(--font-large);
    font-weight: bold;
}

.communities {
    grid-row: 8 / span 2;
}

.sidebar div {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    gap: 10px;
    align-items: center;
}

.header {   
    background-color: var(--color-secondary);
    display: grid;
    grid-template: repeat(2, 1fr) / 2fr 1fr;
    padding: 20px;
}

.search-bar {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    font-size: var(--font-medium);
    font-weight: bold;
}

.search-bar input {
    border-radius: 20px;
    width: 100%;
    height: 30px;
}

.user-info {
    display: grid;
    grid-template: 1fr 1fr / 1fr 4fr;
    align-items: center;

}

.user-info img {
    grid-row: 1 / -1;
    justify-self: end;
    margin: 0px 30px;
}

.user-info .user {
    font-size: var(--font-large);
    font-weight: bold;
    align-self: start;
}
.project-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;

}
.project-buttons button {
    width: 80%;
    height: 40px;
    background-color: var(--color-primary);
    border: none;
    border-radius: 50px;
    color: var(--color-font-primary);
}
.main-content {
    background-color: var(--color-tertiary);
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 20px 50px;
    gap: 50px;
}

.projects,
.announcements,
.trending {
    display: grid;
    grid-template-rows: var(--font-large) 1fr;
    gap: 30px;
}

.misc-section {
    display: grid;
    gap: 30px;
    font-size: var(--font-tiny);
}
.projects .card-group {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    row-gap: 30px;
    column-gap: 50px;
    grid-auto-rows: 1fr;
}

.misc-section .card-group {
    display: grid;
    background-color: var(--color-font-primary);
    box-shadow: 3px 3px 5px var(--color-font-shadow);
    border-radius: 10px;
    padding: 30px;
    gap: 10px;
}

hr {
    width: 200px;
    border: 1px solid var(--color-font-shadow);
}

.card {
    display: grid;
}

.projects .card {
    padding: 30px;
    grid-template-rows: 1rem 1fr 30px;
    background-color: var(--color-font-primary);
    border-radius: 10px;
    border-left: 10px solid orange;
    box-shadow: 3px 3px 5px var(--color-font-shadow);
}

.announcements .card {
    grid-template-rows: 1rem 1fr;
}

.trending .card {
    grid-template: 1fr 1fr / 1fr 3fr;
}

.trending img {
    grid-row: 1 / -1;
}

.card-buttons {
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    gap: 10px;
} 

.title {
    font-weight: bold;
}

.title.large {
    font-size: var(--font-large);
}